---
- name: Gather distribution specific variables
  include_vars: "debian-{{ ansible_distribution_release }}.yml"

- name: Ensure pve_cluster_addr0 is in the host facts
  set_fact:
    pve_cluster_addr0: "{{ pve_cluster_addr0 }}"

- name: Calculate list of SSH addresses
  set_fact:
    pve_cluster_ssh_addrs: >-
      ["{{ ansible_fqdn }}", "{{ ansible_hostname }}",
      {% for ip in ansible_all_ipv4_addresses %}"{{ip}}",{% endfor %}
      {% for ip in ansible_all_ipv6_addresses %}{% if not ip.startswith("fe80:") %}"{{ip}}",{% endif %}{% endfor %}
